.AddItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.AddItem__expand {
  font-size: 16px;
  color: #1ca099;
}

.AddItemElement {
  font-size: 16px;
  margin-top: 6px;
}

.AddItemElement__button {
  margin: 0px 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: white;
  padding: 4px 10px;
}

input, button {
  width: 250px;
}

.Category__row {
  display: flex;
  flex-direction: row;
}

.Category__item {
  padding: 6px;
  margin: 4px;
  border: 1px solid #e6f2ff;
}
.selected {
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.TopContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}