.Items {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.Items__header {
  text-align: center;
  margin: 4px;
  font-size: 18px;
}

.Items__row {
  text-align: left;
  margin-left: 11px;
}

.inactive {
  color: gray;
}