.TopContainer {
  margin-top: 25px;
}

.Items {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  width: 100%;
}

.Items__header {
  text-align: center;
  margin: 4px;
  font-size: 18px;
}

.Items__row {
  text-align: left;
  margin-left: 11px;
}

.inactive {
  color: #b3b3b3;
}